body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(49, 100, 140);
    margin: 20px;
    padding: 20px;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.pangolin-regular {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}
.pangolin-italic {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: italic;
}
img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
.pangolin-bold {
  font-family: "Pangolin", cursive;
  font-weight: 700;
  font-style: normal;
  color: white;
}
header {
    margin-bottom: 20px;
}
header button {
    margin: 0 10px;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: lightskyblue;
    border: none;
    cursor: pointer;
}
header button:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}
.gif-container:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
footer {
    text-align: right;
    margin-top: 20px;
    font-size: 0.9rem;
    color: lightgray;
}
.gif-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.gif-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.gif-container img:hover {
    transform: scale(1.05);
    transition: transform 0.3s;
}
#footer-icon {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}