header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

img {
    width: 20rem;
    border-radius: 15px;
    align-items: center;
}
h1 {
    font-size: 2rem;
    color: lightblue;
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(49, 100, 140);
    color: navajowhite;
}
#visitbtn {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: lightgreen;
    border: none;
    cursor: pointer;
}
.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}
.pangolin-regular {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: normal;
}
.pangolin-italic {
  font-family: "Pangolin", cursive;
  font-weight: 400;
  font-style: italic;
}
.pangolin-bold {
  font-family: "Pangolin", cursive;
  font-weight: 700;
  font-style: normal;
  color: white;
}
header {
    margin-bottom: 20px;
}
header button {
    margin: 0 10px;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    background-color: lightskyblue;
    border: none;
    cursor: pointer;
}
ol {
    font-size: 2rem;
    line-height: 1.6;
    margin: 0 auto;
    padding: 0;
    text-align: left
}
footer {
    text-align: right;
    margin-top: 20px;
    font-size: 0.9rem;
    color: lightgray;
}